@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300&display=swap');

:root{
   --principal:#F08910;
   --background: #fff;
   --text: #777777;
   --backgroundSecundary: #F1F1F1;
   --border:.1rem solid #aaa;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body{
    background-color: var(--backgroundSecundary) ;
}

/* Estilo menu*/


.navbar{
    display: flex;
}

.navList{
    display: flex;
    align-items: center;
    list-style: none;
}

.navItem{
    display: flex;
    padding: 0 20px;
}

.navLink{
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
}

.navItem a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #F08910;
    margin: auto;
    display: block;
}

.navItem a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.navItem a:hover{
    color: #000;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 10%;

    background-color: var(--background);
}

.logo{
    cursor: pointer;
}

.userInformation{
    display: flex;
    
}

.userInformation .dadosUser{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.dadosUser p{
    font-weight: bold;
}

.dadosUser a{
    color: var(--principal);
    text-align: end;
}

/* Fim Estilo Menu*/

/* Inicio Estilo Main*/
.main{
    height: 150px;  
}

.containerMain{
    height: 100%;
    width: 100%;
    background-color: #F08910;

}

/* Fim Estilo Main*/

/* Inicio Estilo Servicos*/
.servicos{

    height: 800px;
    background-color: var(--backgroundSecundary);

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.servicosInfo{
    
    height: 100%;
    width: 80%;
    background-color: var(--background);

    margin-top: -70px;
    position: absolute;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.butoes{
    margin:10px ;
    width: 90%;
    height: 45%;
    margin-top: 60px;
    background-color: var(--background);

    display: flex;
    justify-content: space-between;
}

.individualButton{
    width: 30%;
    height: 100%;
    border-radius: 20px;

    background-image: linear-gradient(#FDFDFD,#ebe5e5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.individualButton img{
    padding-bottom: 25px;
}

.individualButton p{
    font-weight: bold;
    font-size: 17px;
}

.servicosInfo p{
    font-size: 20px;
}

/* Fim Estilo Servicos*/

/* Inicio Estilo Rodapé*/

.footer{
    height: 60px;
}
.Conteudofooter{
    height: 100%;
    background-color: #000;
    color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.Conteudofooter .nomeEmpresa{
    color: var(--principal);
    padding-right: 5px;
    text-decoration: none;
}
