@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300&display=swap');

:root{
   --principal:#F08910;
   --background: #fff;
   --text: #777777;
   --border:.1rem solid #aaa;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Roboto";
}

/* Estilo menu*/


.navbar{
    display: flex;
}

.navList{
    display: flex;
    align-items: center;
    list-style: none;
}

.navItem{
    display: flex;
    padding: 0 10px;
}

.navLink{
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
}

.navItem a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #F08910;
    margin: auto;
    display: block;
}

.navItem a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.navItem a:hover{
    color: #000;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 10%;

    background-color: var(--background);
}

.logo{
    cursor: pointer;
}

.userInformation{
    display: flex;
    
}

.userInformation .dadosUser{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.dadosUser p{
    font-weight: bold;
}

.dadosUser a{
    color: var(--principal);
    text-align: end;
}

/* Fim Estilo Menu*/

/* Inicio Estilo Main*/
.main{
    height: 150px;  
}

.containerMain{
    height: 100%;
    width: 100%;
    background-color: #F08910;
    
}

/* Fim Estilo Main*/

/* Inicio Estilo Servicos*/
.servicos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 350px;
    background-color: black;
}

.servicosInfo{
    
    height: 100%;
    width: 80%;
    background-color: aqua;

    margin-top: 7%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.butoes{
    margin:10px ;
    width: 90%;
    height: 30%;
    background-color: green;

    display: flex;
    justify-content: space-between;
}

.individualButton{
    width: 30%;
    height: 100%;
    border-radius: 20px;

    background-color: #F08910;
}
